@CHARSET "ISO-8859-1";


.title {
	text-align: center;
	font-family: DARE Regular;
	font-size: 100px;
}


.subtitle {
	text-align: center;
	font-family: DARE Regular;
	font-size: 50px;
}


#canvas {
	border: 1px solid;
	border-color: red;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


@type-face {
	font-family: DARE Regular;
	src: url('fonts/DARE.ttf')
}
